@media (max-width: 375px) {

    /* Ajustes no Sidebar */
    .sidebar {
        width: 12%; /* Diminui a largura da sidebar */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */ 
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */ 
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: 9px; /* Tamanho da fonte ajustado para 3px */
        padding: 10px 15px; /* Diminui o padding */
    }


    /* Ajuste do conteúdo */
    .command-item {
        padding: 10px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: 12px; /* Ajuste de fonte para 3px */
        padding: 10px; /* Ajusta o padding */
    }

   
    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 8px; /* Diminui a margem dos ícones */
    }
} 
@media (max-width: 414px) {
    /* Ajustes no Sidebar */
    .sidebar {
        width: 30%; /* Diminui a largura da sidebar */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */ 
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */ 
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: 9px; /* Tamanho da fonte ajustado para 3px */
        padding: 10px 15px; /* Diminui o padding */
    }

    /* Ajuste do conteúdo */
    .command-item {
        padding: 10px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: 9px; /* Ajuste de fonte para 3px */
        padding: 10px; /* Ajusta o padding */ 
    }

    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 8px; /* Diminui a margem dos ícones */
    }
} 
@media (max-width: 430px) {
    /* Ajustes no Sidebar */
    .sidebar {
        width: 30%; /* Diminui a largura da sidebar */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */ 
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */ 
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: 9px; /* Tamanho da fonte ajustado para 9px */
        padding: 10px 15px; /* Diminui o padding */
    }

    /* Ajuste do conteúdo */
    .command-item {
        padding: 10px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: 9px; /* Ajuste de fonte para 9px */
        padding: 10px; /* Ajusta o padding */ 
    }

    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 8px; /* Diminui a margem dos ícones */
    }
} 

@media (max-width: 1440px) {
    /* Ajustes no Sidebar */
    .sidebar {
        width: 20%; /* Diminui a largura da sidebar */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */ 
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */ 
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: 12px; /* Tamanho da fonte ajustado para 9px */
        padding: 10px 15px; /* Diminui o padding */
    }

    /* Ajuste do conteúdo */
    .command-item {
        padding: 10px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: 9px; /* Ajuste de fonte para 9px */
        padding: 10px; /* Ajusta o padding */ 
    }

    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 8px; /* Diminui a margem dos ícones */
    }
}
@media (max-width: 1525px) {
    /* Ajustes no Sidebar */
    .sidebar {
        width: 10%; /* Diminui a largura da sidebar */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */ 
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: 14px; /* Tamanho da fonte ajustado para 9px */
        padding: 10px 15px; /* Diminui o padding */
    }

    /* Ajuste do conteúdo */
    .command-item {
        padding: 10px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: 9px; /* Ajuste de fonte para 9px */
        padding: 10px; /* Ajusta o padding */ 
    }

    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 8px; /* Diminui a margem dos ícones */
    }
} 
@media (min-width: 317px) and (max-width: 570px) {
    /* Ajustes no Sidebar */
    .sidebar {
        width: 25%; /* Ajusta a largura da sidebar para um valor intermediário */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: 11px; /* Tamanho da fonte ajustado para 11px */
        padding: 8px 12px; /* Diminui o padding */
    }

    /* Ajuste do conteúdo */
    .command-item {
        padding: 8px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: 8px; /* Ajuste de fonte para 8px */
        padding: 8px; /* Ajusta o padding */
    }

    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 6px; /* Diminui a margem dos ícones */
    }
}

@media (max-width: 1360px) {
    /* Ajustes no Sidebar */
    .sidebar {
        width: 15%; /* Diminui a largura da sidebar */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */ 
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: 14px; /* Tamanho da fonte ajustado para 9px */
        padding: 10px 15px; /* Diminui o padding */
    }

    /* Ajuste do conteúdo */
    .command-item {
        padding: 10px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: 14px; /* Ajuste de fonte para 9px */
        padding: 10px; /* Ajusta o padding */ 
    }

    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 8px; /* Diminui a margem dos ícones */
    }
}

@media (max-width: 390px) {
    /* Ajustes no Sidebar */
    .sidebar {
        width: 40%; /* Diminui a largura da sidebar */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */ 
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: 10px; /* Tamanho da fonte ajustado para 9px */
        padding: 10px 15px; /* Diminui o padding */
    }

    /* Ajuste do conteúdo */
    .command-item {
        padding: 10px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: 9px; /* Ajuste de fonte para 9px */
        padding: 10px; /* Ajusta o padding */ 
    }

    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 8px; /* Diminui a margem dos ícones */
    }
}  
@media screen and (max-width: 1440px) and (min-width: 900px) { 
      /* Ajustes no Sidebar */
    .sidebar {
        width: 11%; /* Diminui a largura da sidebar */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */ 
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: 14px; /* Tamanho da fonte ajustado para 9px */
        padding: 10px 15px; /* Diminui o padding */
    }

    /* Ajuste do conteúdo */
    .command-item {
        padding: 10px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: 14px; /* Ajuste de fonte para 9px */
        padding: 10px; /* Ajusta o padding */ 
    }

    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 8px; /* Diminui a margem dos ícones */
    }
}

@media (max-width: 1024px) {
    /* Ajustes no Sidebar */
    .sidebar {
        width: 12%; /* Diminui a largura da sidebar */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */ 
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: 10px; /* Tamanho da fonte ajustado para 9px */
        padding: 10px 15px; /* Diminui o padding */
    }

    /* Ajuste do conteúdo */
    .command-item {
        padding: 10px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: 12px; /* Ajuste de fonte para 9px */
        padding: 10px; /* Ajusta o padding */ 
    }

    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 8px; /* Diminui a margem dos ícones */
    }
}   

@media (max-width: 853px) {
    /* Ajustes no Sidebar */
    .sidebar {
        width: 35%; /* Diminui a largura da sidebar */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */ 
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: 10px; /* Tamanho da fonte ajustado para 9px */
        padding: 10px 15px; /* Diminui o padding */
    }

    /* Ajuste do conteúdo */
    .command-item {
        padding: 10px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: 9px; /* Ajuste de fonte para 9px */
        padding: 10px; /* Ajusta o padding */ 
    }

    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 8px; /* Diminui a margem dos ícones */
    }
}  
@media (max-width: 1080px) {
    /* Ajustes no Sidebar */
    .sidebar {
        width: auto; /* Diminui a largura da sidebar */
        z-index: 9999; /* Garantir que a sidebar seja sobreposta */
    }

    .content {
        margin-left: 5px; /* Mantém 5px de margem da sidebar */
        padding: 5px; /* Diminui o padding do conteúdo */ 
        width: 100%;
    }

    /* Logo */
    .logo img {
        width: 25px; /* Ajusta o tamanho da logo */
        height: auto;
    }

    /* Ajustes no Header */
    .header {
        padding: 10px 15px; /* Diminui o padding do header */
    }

    /* Ajustes nos links da sidebar */
    .sidebar .nav-link {
        font-size: auto; /* Tamanho da fonte ajustado para 9px */
        padding: 10px 15px; /* Diminui o padding */
    }

    /* Ajuste do conteúdo */
    .command-item {
        padding: 10px; /* Diminui o padding do item */
    }

    .copy-card {
        font-size: auto; /* Ajuste de fonte para 9px */
        padding: 10px; /* Ajusta o padding */ 
    }

    /* Ajusta a visibilidade dos ícones */
    .sidebar i {
        margin-right: 8px; /* Diminui a margem dos ícones */
    }
}  
@media screen and (max-width: 1300px) and (min-width: 1081px) { 
    /* Ajustes no Sidebar */
  .sidebar {
      width: auto; /* Diminui a largura da sidebar */
      z-index: 9999; /* Garantir que a sidebar seja sobreposta */
  }

  .content {
      margin-left: 5px; /* Mantém 5px de margem da sidebar */
      padding: 5px; /* Diminui o padding do conteúdo */ 
      width: 100%;
  }

  /* Logo */
  .logo img {
      width: 25px; /* Ajusta o tamanho da logo */
      height: auto;
  }

  /* Ajustes no Header */
  .header {
      padding: 10px 15px; /* Diminui o padding do header */
  }

  /* Ajustes nos links da sidebar */
  .sidebar .nav-link {
      font-size: auto; /* Tamanho da fonte ajustado para 9px */
      padding: 10px 15px; /* Diminui o padding */
  }

  /* Ajuste do conteúdo */
  .command-item {
      padding: 10px; /* Diminui o padding do item */
  }

  .copy-card {
      font-size: auto; /* Ajuste de fonte para 9px */
      padding: 10px; /* Ajusta o padding */ 
  }

  /* Ajusta a visibilidade dos ícones */
  .sidebar i {
      margin-right: 8px; /* Diminui a margem dos ícones */
  }
}